body {
  background-color: #2a363b !important;
  color: white;
  font-family: 'Varela', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji' !important;
}

a {
  text-decoration: none !important;
}

.modal-content {
  color: #212529;
}
